/*-------------------------------------------Header-------------------------------------------*/

header{
    background-color:#b6de8f;  
    margin-bottom: 1%;
}

#logo{
    height: 10em;
}
.liens{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}

header a{
    color: black;
    font-weight: bold;
    margin:auto;
}

/*-------------------------------------------Formulaire détail-------------------------------------------*/

.photo{
    max-width: 25%;
    min-width: 50%;
}


/*-------------------------------------------Formulaire détail-------------------------------------------*/

/*---------------------------body---------------------------*/

.groupe
{
    display: flex;
}

.textearea{
    height:13em !important;
}

h1{
    text-align: center;
    font-weight: bold;
}


table{
    text-align: center;
    font-weight: bold;
}


/*------------------------------*/
.non{
    margin-top: 3.5% !important;
}

/* header */

/* .nav{
    background-color:grey;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.nav a{
    color:black;
}

h1{
    text-align: center;
    font-weight: bold;
} */

/* footer form*/

/* .date{
    margin-bottom: 0rem !important;
    
}

button{
    margin-top: 1rem;
}

.bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check{
    margin-bottom: 1rem;
    margin-left: 1rem;
} */