.effet{
    border:  2px #256d48 solid;
    border-radius: 5px;
    box-shadow: 1px 5px 5px black;
    margin-top: 2em
}

/* body{
    background-image: url("../images/ciel.jpg");
    background-repeat: repeat-y;
} */
/*-------------------------------------------Header-------------------------------------------*/

header{
    background-color:#ffffff;  
    margin-bottom: 2rem;
    border: 2px #256d48 solid;
    border-radius: 5px;
    box-shadow: 1px 5px 5px black;
    padding: 10px;
    margin-top: 2em;
}

#logo{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.liens{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}
.admin{
    border: 2px #ac3521 solid;
    border-radius: 10px;
}
.admin p{
    font-size: 1.5em;
    text-decoration: underline;
    color: #ac3521;
    font-weight: bold;
    text-align: center;
}

header a{
    color: #256d48;
    font-weight: bold;
    margin:auto;
    font-size: 1.3em;
}

#panier{
    object-fit: contain;
    height: 30%;
    width: 30%;
    
}
/*-------------------------------------------Footer-------------------------------------------*/

footer{
    /* background-color:black; */
    margin-top: 2rem;
}

.promo{
    margin-top: 2%;
}
/*-------------------------------------------accueil-------------------------------------------*/

.jardin{
    background-image: url("../images/jardin.jpg");
    height: 460px;
    background-repeat: no-repeat;
    background-position: right;
}

.accueil{
    font-size: 1.3em;
    color: #256d48;
    font-weight: bolder;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}



/*-------------------------------------------Formulaire ajout-------------------------------------------*/
/*---------------------------body---------------------------*/

/* Description */
.P{
    margin-bottom: 0.4rem;
}

.boutique-input{
    width:50px;
    margin-left: 2%;
}




/*-------------------------------------------Formulaire détail-------------------------------------------*/

/*---------------------------body---------------------------*/

.groupe
{
    display: flex;
}

.textearea{
    height:13em !important;
}

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #ac3521;
}


table{
    text-align: center;
    font-weight: bold;
}

/* .img-fluid{
    max-width: 100%;
    height: auto;
}  */
.photo_box{
    height: 100%;
    max-height: 172px;
    min-height: 172px;
}

.photo_detail{
    height: 100%;

}

.photo{
   /*  width:35%; */
    /* max-width: 25%; */
    /* min-width: 50%; */
    max-width: 45%;
    /* min-width: 50%; */
    max-height: 50%;
}
.photo2{
   /*  width:35%; */
    /* max-width: 25%; */
    /* min-width: 50%; */
    max-width: 45%;
    /* min-width: 50%; */
    /* max-height: 50%; */
}

.btn_detail{
    padding-left:15px; 
}



.validation{
    margin-top: 3rem;
    margin-left: 2rem;
}

.supprimer{
    margin-left: 1rem;
    color: black;
    font-weight: bold;
}

.modifier{
    font-weight: bold;
    margin-left: -2rem;
}

.box_id_ref{
    padding-right: 0px;
}






/*-------------------------------------------Javascript-------------------------------------------*/

.red{
    color:red;
    text-align: center;
    border: solid red 1px;
    border-radius: 5px;
}

/*-------------------------------------------Page success-------------------------------------------*/

.success{
    text-align: center;
    font-weight: bold;
}
.div_success{
    margin-top: 10rem;
}
/*-------------------------------------------Page boutique-------------------------------------------*/

.nav-boutique{
    margin-bottom: 2rem;
}

.card-title{
    font-size: 2em;
    font-weight: bold;
}

.selected{
    background-color: #343a40;
    color:white;
}

.hauteur_photo{
    height: 30%;
    overflow: hidden;
}

.ajout{
    float: right;
}

.card{
    width: 18rem;
    height: 40rem;
}

.cardText{
    height: 50%;
    overflow-y: auto;
}
.boxPhoto{
    height: 30%;
    overflow: hidden;
}

.prix{
    margin-top: 4%;
    font-size: 1.5em;
    font-weight: bold;
}
.description{
    max-height: 100px;
}

/*-------------------------------------------Page panier-------------------------------------------*/

#corbeille{
    width:20%;
}

.input_quantite{
    position: relative;
    top: 12px;
}
.quantite{
    position: relative;
    top: 15px;
}

.total{
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
#total{
    width: auto;
}

.titre{
    color: #256d48;
}

.card_panier{
    border: 2px #256d48 solid;
    border-radius: 5px;
    box-shadow: 1px;
    box-shadow: 1px 5px 5px black;
}

/* header */

/* .nav{
    background-color:grey;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.nav a{
    color:black;
}

h1{
    text-align: center;
    font-weight: bold;
} */

/* footer form*/

/* .date{
    margin-bottom: 0rem !important;
    
}

button{
    margin-top: 1rem;
}

.bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check{
    margin-bottom: 1rem;
    margin-left: 1rem;
} */